{% extends "AppCoder/padre.html" %}


{% load static %}


{% block subtitulo %}

Bienvenidos profesores!
                    
{% endblock %}

{% block titulo %}

Esta página mostrará los profesores
                    
{% endblock %}

{% block descripcion %}

Formulario - Agregar Profesores

<form action="" method="POST"> {% csrf_token %}
    <table>

        {{form3.as_table}}

    </table>

    <input type = "submit" value ="Enviar">
</form>

{% endblock %}


{% block titulo2 %}

Hay muchos profesores.

{% endblock %}

